<div class="row" id="signin">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Sign In</h3>
        </div>
        <div class="panel-body">
          <%= form_tag sessions_path do %>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <%= email_field_tag :email, '', placeholder: 'Email Address',class: 'form-control input-md' %>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <%= password_field_tag :password, '', placeholder: 'Password', class: 'form-control input-md' %>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                    <%= submit_tag 'Sign In', class: 'btn btn-md btn-primary btn-block input-md' %>
                  </div>

              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <style>
    footer{
            position:fixed;
            right:0px;
            left:0px;
            bottom: 5vh;
          }
  </style>
