<h1>PasswordResets#new</h1>
<% provide(:title, "Forgot password") %>

<div class="row" id="resetPassword">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Forgot Password</h3>
      </div>
      <div class="panel-body">

        <%= form_for(:password_reset, url: password_resets_path) do |f| %>

          <%= f.label :email %>

          <div class="form-group">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
