
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 jumbo-text">
              <br>
              <h1>Welcome to Awesome Blog</h1>
              <p class="lead">Share your life story</p>
          </div>
      </div>
  </div>



<!-- /*<style>

footer{
  position:fixed;
  bottom: 5vh;
}

</style>*/ -->
