
<div id="header">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 jumbo-text">
              <br>
              <h1>Welcome to Awesome Blog</h1>
              <p class="lead">Share your life story</p>
          </div>
      </div>
  </div>
</div>

<style>
body{
  /*background-image: url(<%# assets_path('background.jpg')%>);*/
  /*background-image:url(<%= asset_path('backgroud.jpg')%>);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;*/
  /*margin-top: 50px;
  padding-bottom: 70px !important;*/
  /*font-family: 'Merriweather', serif;*/
}
/*.row{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 4em;
  position: relative;
  top: 10vw;
}*/
</style>
