// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRgCWi-OCYRR-L8k91LlVTdYLmqDocDqEIQdSrKpCeYr8LCEzaD8A');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
// .row{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   vertical-align: middle;
//   font-size: 4em;
//   position: relative;
//   top: 10vw;
// }
